apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "lc-classifier-step.fullname" . }}
  namespace: {{ .Values.namespace }}
data:
  consumer-topics: {{ .Values.configmap.consumerTopics }}
  consumer-group: {{ .Values.configmap.consumerGroup | default (printf "%s" (include "lc-classifier-step.fullname" .)) }}
  internal-server: {{ .Values.configmap.internalServer }}
  public-server: {{ .Values.configmap.publicServer }}
  db-engine: {{ .Values.configmap.dbEngine }}
  db-host: {{ .Values.configmap.dbHost }}
  db-port: "{{ .Values.configmap.dbPort }}"
  db-name: {{ .Values.configmap.dbName }}
  step-id: {{ .Values.configmap.stepId }}
  step-version: {{ .Values.configmap.stepVersion }}
  consume-timeout: "{{ .Values.configmap.consumeTimeout }}"
  consume-messages: "{{ .Values.configmap.consumeMessages }}"
  kafka-producer-security-protocol: {{ .Values.configmap.kafka.securityProtocol }}
  kafka-producer-sasl-mechanism: {{ .Values.configmap.kafka.saslMechanism }}
