apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lc-classifier-step.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "lc-classifier-step.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "lc-classifier-step.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "lc-classifier-step.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: 8000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: CONSUMER_TOPICS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: consumer-topics
            - name: CONSUMER_SERVER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: internal-server
            - name: CONSUMER_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: consumer-group
            - name: PRODUCER_TOPIC_FORMAT
              value: lc_classifier_%s
            - name: PRODUCER_DATE_FORMAT
              value: '%Y%m%d'
            - name: PRODUCER_CHANGE_HOUR
              value: "23"
            - name: PRODUCER_RETENTION_DAYS
              value: "1"
            - name: PRODUCER_SERVER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: public-server
            - name: METRICS_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: internal-server
            - name: METRICS_TOPIC
              value: "metrics"
            - name: DB_ENGINE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: db-engine
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: db-host
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: db-port
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: db-name
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: '{{ include "lc-classifier-step.fullname" . }}-db'
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ include "lc-classifier-step.fullname" . }}-db'
                  key: password
            {{- if .Values.secrets.kafkaAuth.consumer.enabled }}
            - name: CONSUMER_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: consumer-username
            - name: CONSUMER_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: consumer-password
            {{- end }}
            {{- if .Values.secrets.kafkaAuth.producer.enabled }}
            - name: PRODUCER_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: producer-username
            - name: PRODUCER_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: producer-password
            {{- end }}
            {{- if .Values.secrets.kafkaAuth.metrics.enabled }}
            - name: METRICS_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: metrics-username
            - name: METRICS_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: metrics-password
            {{- end }}
            - name: STEP_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: step-id
            - name: STEP_VERSION
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: step-version
            - name: CONSUME_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: consume-timeout
            - name: CONSUME_MESSAGES
              valueFrom:
                configMapKeyRef:
                  name: {{ include "lc-classifier-step.fullname" . }}
                  key: consume-messages
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
