# Default values for step_starter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: sorting-hat

image:
  repository: ghcr.io/alercebroker/sorting_hat_step
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets:
  - name: "image-pull-access"

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

service:
  type: ClusterIP
  port: 8000

resources:
  requests:
    memory: 750M
    cpu: 750m

autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 4
    targetCPUUtilizationPercentage: 90

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
          - matchExpressions:
            - key: nodegroup
              operator: In
              ## Override this value with the NodeGroup tag accordingly
              values: []

configmap:
  loggingDebug: false
  consumerTopics: ""
  topicStrategy:
    enabled: false
    topicFormat: ""
    dateFormat: ""
    changeHour: ""
  consumerGroupId: ""
  consumerServer: ""
  consumerClass: ""
  producerServer: ""
  producerTopic: ""
  metricsTopic: ""
  metricsServer: ""
  mongoSecretName: ""
  runConesearch: ""
  useProfiling: ""

secrets:
  kafkaAuth:
    consumer:
      enabled: false
      username: ""
      password: ""
    producer:
      enabled: false
      username: ""
      password: ""
    metrics:
      enabled: false
      username: ""
      password: ""

imageCredentials:
  registry: ""
  username: ""
  password: ""
  email: ""
