# Default values for step_starter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

namespace: s3-step

image:
  repository: ghcr.io/alercebroker/s3_step
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "rc"

imagePullSecrets:
  - name: "image-pull-access"

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

service:
  ztf:
    type: ClusterIP
    port: 8000
  atlas:
    type: ClusterIP
    port: 8000

resources: {}

autoscaling:
  ztf:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  atlas:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
          - matchExpressions:
            - key: eks.amazonaws.com/nodegroup
              operator: In
              ## Override this value with the NodeGroup tag accordingly
              values: []

configmap:
  ztf:
    consumerTopics: ""
    internalServer: ""
    metricsTopic: ""
    bucketName: ""
    regionName: ""
  atlas:
    consumerTopics: ""
    internalServer: ""
    metricsTopic: ""
    bucketName: ""
    regionName: ""

imageCredentials:
  registry: ""
  username: ""
  password: ""
  email: ""