apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xmatch-step.fullname" . }}
  namespace: {{ .Values.namespace }}
data:
  consumer-topics: {{ .Values.configmap.consumerTopics }}
  consumer-server: {{ .Values.configmap.consumerServer }}
  producer-topic: {{ .Values.configmap.producerTopic }}
  producer-server: {{ .Values.configmap.producerServer }}
  metrics-topic: {{ .Values.configmap.metricsTopic }}
  metrics-server: {{ .Values.configmap.metricsServer }}
  step-version: {{ .Chart.AppVersion }}
  retries: "{{ .Values.configmap.retries }}"
  retry-interval: "{{ .Values.configmap.retryInterval }}"
  consume-timeout: "{{ .Values.configmap.consumeTimeout }}"
  consume-messages: "{{ .Values.configmap.consumeMessages }}"
  db-host: {{ .Values.configmap.db.host }}
  db-name: {{ .Values.configmap.db.name }}
  db-engine: {{ .Values.configmap.db.engine }}
  db-port: "{{ .Values.configmap.db.port }}"