apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "xmatch-step.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "xmatch-step.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "xmatch-step.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "xmatch-step.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: 8000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: CONSUMER_TOPICS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: consumer-topics
            - name: CONSUMER_SERVER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: consumer-server
            - name: CONSUMER_GROUP_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: consumer-group-id
            - name: PRODUCER_SERVER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: producer-server
            - name: PRODUCER_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: producer-topic
            - name: STEP_VERSION
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: step-version
            - name: METRICS_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: metrics-server
            - name: METRICS_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: metrics-topic
            {{- if .Values.secrets.kafkaAuth.consumer.enabled }}
            - name: CONSUMER_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: consumer-username
            - name: CONSUMER_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: consumer-password
            {{- end }}
            {{- if .Values.secrets.kafkaAuth.producer.enabled }}
            - name: PRODUCER_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: producer-username
            - name: PRODUCER_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: producer-password
            {{- end }}
            {{- if .Values.secrets.kafkaAuth.metrics.enabled }}
            - name: METRICS_KAFKA_USERNAME
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: metrics-username
            - name: METRICS_KAFKA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kafka-auth
                  key: metrics-password
            {{- end }}
            - name: DB_ENGINE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: db-engine
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: db-host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: sql
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sql
                  key: password
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: db-port
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: db-name
            - name: RETRIES
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: retries
            - name: RETRY_INTERVAL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: retry-interval
            - name: CONSUME_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: consume-timeout
            - name: CONSUME_MESSAGES
              valueFrom:
                configMapKeyRef:
                  name: {{ include "xmatch-step.fullname" . }}
                  key: consume-messages
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
